@import "./components/components.scss";

#app {
  margin: 5rem auto;
}
body {
  background-color: #1d1d1d;
}
img {
  user-select: none;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
